<h1>Listado origens</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>Ciudad</th>
      <th>N aeropuerto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @origens.each do |origen| %>
      <tr>
        <td><%= origen.ciudad %></td>
        <td><%= origen.n_aeropuerto %></td>
        <td><%= link_to 'ver', origen %></td>
        <td><%= link_to 'Editar', edit_origen_path(origen) %></td>
        <td><%= link_to 'Eliminar', origen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Origen', new_origen_path %>
