<h1>Listing vuelos</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>Aerolinea</th>
      <th>Itinerario</th>
      <th>Capacidad</th>
      <th>Modelo avion</th>
      <th>Num vuelo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vuelos.each do |vuelo| %>
      <tr>
        <td><%= vuelo.aerolinea.nombre %></td>
        <td><%= vuelo.itinerario.codigo_it %></td>
        <td><%= vuelo.capacidad %></td>
        <td><%= vuelo.modelo_avion %></td>
        <td><%= vuelo.num_vuelo %></td>
        <td><%= link_to 'Show', vuelo %></td>
        <td><%= link_to 'Edit', edit_vuelo_path(vuelo) %></td>
        <td><%= link_to 'Destroy', vuelo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Vuelo', new_vuelo_path %>
