<h1>Listado de  destinos</h1>
<div class="table-responsive">
<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>Ciudad</th>
      <th>N aeropuerto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destinos.each do |destino| %>
      <tr>
        <td><%= destino.ciudad %></td>
        <td><%= destino.n_aeropuerto %></td>
        <td><%= link_to 'Ver', destino %></td>
        <td><%= link_to 'Editar', edit_destino_path(destino) %></td>
        <td><%= link_to 'Eliminar', destino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Nuevo Destino', new_destino_path %>
