<h1>Listing pasajes</h1>
<div class="table-responsive">
<table  class="table table-bordered table-hover">
  <thead>
    <tr  class="success">
      <th>Cliente</th>
      <th>Vuelo</th>
      <th>Clase</th>
      <th>Asiento</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pasajes.each do |pasaje| %>
      <tr>
        <td><%= pasaje.cliente.rut %></td>
        <td><%= pasaje.vuelo.num_vuelo %></td>
        <td><%= pasaje.clase.t_clase %></td>
        <td><%= pasaje.asiento %></td>
        <td><%= pasaje.valor %></td>
        <td><%= link_to 'Show', pasaje %></td>
        <td><%= link_to 'Edit', edit_pasaje_path(pasaje) %></td>
        <td><%= link_to 'Destroy', pasaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Pasaje', new_pasaje_path %>
