<%= form_for(@cliente_vuelo) do |f| %>
  <% if @cliente_vuelo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente_vuelo.errors.count, "error") %> prohibited this cliente_vuelo from being saved:</h2>

      <ul>
      <% @cliente_vuelo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cliente_id %><br>
  <%= f.select( "cliente_id", Cliente.all.collect{|l|[l.rut, l.id,] }, { include_blank: 'Selecione Cliente'}) %>
  </div>
  <div class="field">
    <%= f.label :vuelo_id %><br>
    <%= f.select( "vuelo_id", Vuelo.all.collect{|l|[l.num_vuelo, l.id,] }, { include_blank: 'Selecione Vuelo'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
